<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sou.music.dao.AdminDao">
    <resultMap id="BaseResultMap" type="com.sou.music.domain.Admin" >
        <id column="ID" property="id"/>
        <result column="USERNAME" property="username"/>
        <result column="PASSWORD" property="password"/>
    </resultMap>

    <select id="verifyPassword" resultType="java.lang.Integer">
        select  count(*) from admin where USERNAME=#{username} and PASSWORD = #{password}
    </select>
</mapper>